.chatFormInput-item {
  margin-right: 6px;
  &:last-child {
    margin-right: 0;
  }
}

.chatFormInput-time {
  width: 220px;
  --el-input-bg-color: var(--color-bg-secondary);
  --el-input-text-color: var(--color-text);
}
