.chatMemberProfileWrap-popover {
  --el-popover-padding: 0;
  --el-popover-border-radius: 12px;
  .el-popover.el-popper {
    border: 0;
  }
}

.chatMemberProfileWrap {
  width: 240px;
}
.chatMemberProfileWrap-header {
  position: relative;
  background: url('https://x2mu.oss-cn-shanghai.aliyuncs.com/app%2Fbase%2F52bc38e4992e45a08599024ec011cb9f_default-chat-profile-bg.jpg')
    no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  border-radius: var(--el-popover-border-radius) var(--el-popover-border-radius) 0 0;
}

.chatMemberProfileWrap-header-avatar {
  position: absolute;
  left: 10px;
  bottom: 0;
  transform: translateY(50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);

  .el-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}

.chatMemberProfileWrap-content {
  margin-top: 30px;
  padding: 10px;
}

.chatMemberProfileWrap-content-name {
  // 两行超过显示省略号
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
}

.chatMemberProfileWrap-content-desc {
  margin-top: 8px;
}
