$maxWidth: 1216px;

.wrap {
  --color-text: #000000e5;
  --color-text-light: #00000080;
  padding-top: 48px;
}

.head-wrap {
  max-width: $maxWidth;
  padding: 40px 32px 48px;
  margin: 0 auto;
}

.crumb-wrap {
  display: flex;
  align-items: center;
  padding: 4px 0 36px 0;
}

.crumb-item {
  display: flex;
  align-items: center;
  color: #00000080;
  font-size: 13px;
}

.crumb-item-icon {
  margin-inline: 4px;
  font-size: 13px;

  .arrow {
    font-size: 10px;
  }
}

.head-cnt-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 32px 48px;
}

.head-cnt-left {
  flex: 33;
  padding-right: 32px;
}

.head-cnt-right {
  flex: 66.66;
  max-width: 750px;
}

.head-cnt-right-img-wrap {
  width: 100%;
  aspect-ratio: 2;
  border-radius: 6px;
}

.head-cnt-right-img {
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}

.head-cnt-carousel-item {
  width: 150px;
  height: 82px;
}

.head-cnt-left-head {
  display: flex;
  align-items: center;
  gap: 10px;

  .avatar {
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
}

.head-cnt-left-head-name {
  max-width: 200px;
  color: #000000e5;
}

.head-cnt-left-cnt {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-block: 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  word-break: break-word;
  text-wrap: balance;
}

.head-cnt-left-follow {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  white-space: nowrap;
  color: #00000080;
  font-size: 13px;

  .dot {
    margin-inline: 8px;
  }

  .svg {
    margin-right: 4px;
  }
}

.head-cnt-left-btn-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.head-cnt-left-btn-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #00000080;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }
}

.intro {
}

.tabs-wrap {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.tabs-container {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 32px;

  :deep(.el-tabs__header) {
    margin-bottom: 0;
  }
}

.intro-wrap {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  -webkit-font-smoothing: antialiased;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 32px;
}

.intro-wrap-left {
  flex-grow: 1;
}

.intro-wrap-left-rich-text {
  margin-bottom: 32px;
  font-size: 14px;
}

.intro-wrap-right {
  max-width: 270px;
  flex-shrink: 0;
}

.personal-work-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 12px;
}

.intro-topic-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 8px;
}

.intro-topic-item {
  color: #00000080;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
}

.line {
  &::after {
    content: '';
    display: block;
    height: 1px;
    border-top: 1px solid #e6e6e6;
    margin-top: 32px;
    padding-bottom: 32px;
  }
}

.intro-item {
  @extend .line;

  &:last-child::after {
    display: none;
  }
}

.intro-annotation {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: 13px;
  line-height: 24px;
}

.intro-annotation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #376ee5;
  margin-right: 12px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;

  img {
    width: 14px;
    aspect-ratio: 1;
  }
}
.intro-annotation-icon-guduu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 4px;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
  }
}
.preview-wrap {
  @extend .line;

  width: 100%;
  aspect-ratio: 1.8;
  border-radius: 6px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.more-work-wrap {
  @extend .line;
}

.more-work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.more-work-item {
  // 覆盖原来的min-width：auto,如果是auto，那么元素就会挤占其他元素的空间
  min-width: 0;
}

.more-work-item-img-wrap {
  width: 100%;
  aspect-ratio: 1.8;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.more-work-item-info {
  width: 100%;
  margin-top: 8px;
  font-size: 13px;
  color: #000;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-filter-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
  line-height: 24px;
}

.comment-filter-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--color-text);

  .el-icon {
    margin-left: 4px;
    font-size: 12px;
  }
}

.comment-empty-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-empty-text {
  font-size: 13px;
  color: var(--color-text);
  padding-top: 24px;
  padding-bottom: 16px;
}

.comment-empty-text-light {
  padding-bottom: 16px;
  font-size: 11px;
  color: var(--color-text-light);
}

.comment-empty-icon {
  background: var(--color-text);
}
