@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100%;
  height: 100%;
}
