.publishParentDialog-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 240px);
  max-height: 772px;
  width: min(1000px, calc(100vw - 120px));
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  background: #f5f5f5;

  .el-dialog__header {
    padding: 0;
    background: #262626;
    border-radius: 20px 20px 0 0;
  }

  .el-dialog__body {
    background: #f5f5f5;
    padding: 0;
  }

  .el-dialog__headerbtn {
    top: 9px !important;
    right: 7px;
    .el-dialog__close {
      color: #fff !important;
      font-size: 25px !important;
    }
  }
  .el-dialog__footer {
    background: #f5f5f5 !important;
  }
}

.publishParentDialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-right: 40px;
}

.publishParentDialog-title {
  flex: 1;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}

.publishParentDialog-header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.publishParentDialog-search-input {
  width: 400px;
  height: 30px !important;
  line-height: 30px !important;

  .el-input__wrapper {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: none;
    padding: 8px 10px;
    color: #262626;
    .el-icon {
      color: #262626;
    }
    .el-input__inner {
      font-size: 14px;
      color: #262626;
    }
  }
}

.publishParentDialog-tabs {
  padding: 20px 20px 0;
  background: #f5f5f5;
  margin-top: 0;
  position: relative;

  .el-tabs__header {
    margin: 0;
  }

  .el-tabs__nav-wrap {
    &::after {
      display: none;
    }
  }

  .el-tabs__nav {
    padding-left: 0;
    position: relative;
  }

  .el-tabs__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #999999;
    padding: 0px;
    height: 40px;
    position: relative;
    margin-right: 30px;

    &.is-active {
      font-weight: 700;
      color: #262626;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        height: 14px;
        background: #fa9819;
        opacity: 0.5;
        border-radius: 0;
        z-index: -1;
      }
    }
  }

  .el-tabs__active-bar {
    display: none;
  }
}

.publishParentDialog-body {
  overflow: hidden;
  flex: 1;
  background: #f5f5f5;
}

.publishParentDialog-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

.publishParentDialog-footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 20px;
  background: #f5f5f5;
}

.publishParentDialog-btn-cancel {
  width: 50%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #262626;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  padding: 7px 20px;
}

.publishParentDialog-btn-next {
  width: 50%;
  height: 40px;
}
