.publishDialogWorkflow-wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px 16px;
  padding: 20px;
  background: #f5f5f5;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }
}

.publishDialogWorkflow-item-wrap {
  cursor: pointer;
  background: #ffffff;
  border-radius: 12px;
  padding: 8px;
  transition: all 0.2s;

  // &:hover {
  //   transform: translateY(-2px);
  //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  // }

  &.active {
    border: 2px solid #fa9819;
    padding: 6px; // 减去边框宽度，保持内容区域大小一致

    .publishDialogWorkflow-item-name {
      font-weight: 600;
    }
  }
}

.publishDialogWorkflow-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.publishDialogWorkflow-item-img-wrap {
  width: 100%;
  height: 140px;
  background: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  border: none;
}

.publishDialogWorkflow-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.publishDialogWorkflow-item-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}

.publishDialogWorkflow-item-time {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.3);
  padding: 0 8px;
  border-radius: 50px;
  position: absolute;
  top: 8px;
  left: 8px;
  white-space: nowrap;
  margin-bottom: 0;
}

.publishDialogWorkflow-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #999;
  .publishDialogWorkflow-empty-img {
    margin: 0 auto 10px;
  }
}

.publishDialogWorkflow-item-wrap.noOwner {
  opacity: 0.5;
}
