.chatImgInputUpload-wrap {
  position: relative;
  width: 150px;
  height: 150px;
  color: #323338;
  .cl-upload__list {
    border: 2px dashed #323338;
    border-radius: 8px;
    padding: 8px;
    justify-content: center;
    cursor: pointer;
    &:hover {
      border-color: #0d99ff;
      background: #e5f4ff;
      .el-icon {
        color: #0d99ff;
      }
    }
  }

  .el-icon--upload {
    margin-top: 16px;
  }

  .el-upload__text {
    font-size: 12px;
    color: #323338;
  }
}

.chatImgInputUpload-field {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: 10px;
  background: #f3f3f4;
  border-radius: 4px;
  padding-inline: 6px;
}
