@font-face {
  font-family: 'iconfont'; /* Project id 4881830 */
  src:
    url('iconfont.woff2?t=1743819584797') format('woff2'),
    url('iconfont.woff?t=1743819584797') format('woff'),
    url('iconfont.ttf?t=1743819584797') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-23-sousuo:before {
  content: '\e604';
}
