.goodsCarousel-wrap {
  margin-top: 12px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 12px;
}

.goodsCarousel-item {
  flex-shrink: 0;
  width: 150px;
  height: 82px;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  position: relative;

  &.active {
    border: 2px solid #027be5;
  }
}

.goodsCarousel-item-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
}
