.chatImgInputUpload-wrap {
  position: relative;
  width: 120px;
  height: 120px;
  color: #323338;
  margin-right: 10px;
  flex-shrink: 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 16px;
  position: relative;
  cursor: pointer;
  .cl-upload__list {
    border-radius: 8px;
    border: 1.5px dashed rgba(89, 89, 89, 1);
    // justify-content: center;
    cursor: pointer;
    width: 120px;
    height: 120px;
    &:hover {
      border: 1.5px dashed rgba(250, 152, 25, 1);
    }
    .cl-upload__item {
      width: 117px;
      height: 117px;
    }
  }

  .el-image {
    width: 117px;
    height: 117px;
  }

  .el-icon--upload {
    width: 20px;
    angle: 0 deg;
    opacity: 1;
    margin: 12px auto 8px auto;
  }

  .el-upload__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 4px;
  }
  &.is-mobile {
    .cl-upload-item__actions {
      opacity: 1 !important;
    }
  }
}

// 手机端媒体查询
@media (max-width: 768px) {
  .chatImgInputUpload-wrap {
    .delete-btn {
      opacity: 1;
    }
  }
}

.chatImgInputUpload-field {
  width: 60px;
  height: 28px;
  angle: 0 deg;
  opacity: 1;
  gap: 8px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  border-bottom-right-radius: 8px;
  // font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  background: rgba(250, 152, 25, 0.1);
}
