// 导入自定义样式
@use './el-plus-var.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', 'PingFang SC', Arial, sans-serif;
}

:root {
  --color-text: #000000e5;
  --color-bg-secondary: #f5f5f5;
}

.groundGlass {
  // background: rgba(255, 255, 255, 0.25);
  // backdrop-filter: blur(10px) saturate(180%);
  // border: 1px solid rgba(255, 255, 255, 0.2);
  // box-shadow:
  //   0 8px 32px rgba(0, 0, 0, 0.1),
  //   inset 0 1px 0 rgba(255, 255, 255, 0.2);
  // break-inside: avoid;
}

.groundGlass-hover {
  &:hover {
    // background: rgba(255, 255, 255, 0.35);
    // backdrop-filter: blur(25px) saturate(200%);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    // box-shadow:
    //   0 12px 40px rgba(0, 0, 0, 0.15),
    //   inset 0 1px 0 rgba(255, 255, 255, 0.3);
    // transform: translateY(-2px);
  }
}
