.chatFlexibleInput-wrap {
  display: inline-flex;
  // flex-wrap: wrap;
  border: 1px solid #e3e3e5;
  border-radius: 4px;
  transition: border-color 0.2s ease;
  max-width: 100%;
  margin-right: 4px;
  margin-block: 2px;

  &.invalid {
    border-color: #da3e44;
  }

  &:focus-within {
    border-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
}

.chatFlexibleInput-label {
  background: #f3f3f4;
  padding: 2px 8px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #e3e3e5;
  font-size: 14px;
  color: #606266;
  white-space: nowrap;
  flex-shrink: 0;
}

.chatFlexibleInput-input-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chatFlexibleInput-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 8px;
  font-size: 12px;
  color: #a5a8b0;
  pointer-events: none;
}

.chatFlexibleInput-input {
  display: block;
  min-width: 130px;
  min-height: 20px;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 20px;
  color: #606266;
  word-wrap: break-word;
  word-break: break-word;

  &.maxWidth {
    // 临时用important
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:empty::before {
    content: attr(placeholder);
    color: #c0c4cc;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }
}
